<div class="row">
    <div class="col-12">

        <div *ngIf="taskEdited && this.taskEditedCardVisible" class="card mt-3 bg-info text-white">
            <div class="card-header">
                Éditer un tâche :

                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="closeEditPanel()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <h2>{{taskEdited.name}}</h2>

                <div class="input-group mb-3 input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="task-edited-name">Éditer le titre :</span>
                    </div>
                    <input type="text" [(ngModel)]="taskEdited.name" class="form-control"  aria-label="Task Name" aria-describedby="task-edited-name">
                </div>

                <p class="small">
                    <strong>Catégorie: </strong> <a href="">{{ taskEdited.category.name }}</a>
                    <br>
                    <strong>Tags: </strong>
                    <span *ngFor="let tag of taskEdited.tags; let isLast = last">
              <a href="">#{{ tag.name }}</a> {{isLast ? '' : ' | '}}
            </span>
                </p>
            </div>
        </div>

        <div class="card mt-3" *ngFor="let task of tasks">
            <div class="card-body">
                <h2>{{task.name}}</h2>


                <p class="small">
                    <strong>Catégorie: </strong> <a href="">{{ task.category.name }}</a>
                    <br>
                    <strong>Tags: </strong>
                    <span *ngFor="let tag of task.tags; let isLast = last">
              <a href="">#{{ tag.name }}</a> {{isLast ? '' : ' | '}}
            </span>
                </p>
            </div>
        </div>
    </div>
</div>
