<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p class="lead">
          {{ task.name }}
        </p>
        <p class="small">
          <strong>Catégorie: </strong> <a href="">{{ task.category.name }}</a>
          <br>
          <strong>Tags: </strong>
          <span *ngFor="let tag of task.tags; let isLast = last">
              <a href="">#{{ tag.name }}</a> {{isLast ? '' : ' | '}}
            </span>
        </p>
      </div>
    </div>
  </div>
</div>
